/* diary_info */

/* .detail .diary_info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72rem;
    margin: 0 auto;
    background: #f4f4f4;
}
.detail .diary_info::after {
    content: '';
    position:fixed;
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,0.3);
}
.cover {
    position:fixed;
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,1);
  }
.detail .txt_box {position: absolute; bottom: 0; left: 0;}
.detail .txt_box .txt_title {}
.detail .txt_box .txt_date {}

diary_txt
.diary_txt {z-index: 1;}
.diary_txt .paragraphe {}

diary_btn
.diary_btn {}
.diary_btn .heart_btn {}
.diary_btn .heart_btn .heart_icon {}
.diary_btn .heart_btn .count {}

.diary_btn .share_btn {}
.diary_btn .share_btn .share_icon{}

.diary_btn .comment_link {}
.diary_btn .comment_link .comment_icon {}
.diary_btn .comment_link .count {} */

/* 타이틀 헤더 영역 */

section.main {
    position: fixed;
    /* 화면 상단 position: fixed를 적용해서 고정시킴 */
    height: 800px;
    width: 100%;
    top:0;
    left:0;
}
.main_title {
    position: absolute;
    color : #eee;
    text-align: center;
    padding-top:320px;
    width:100%;
    font-size: 50px;
    z-index: 1;
}
.main_cover {
    position:fixed;
    width: 100%;
    height: 800px;
    background-color: rgba(0,0,0,1);
}
.main_coverimg {
    position: fixed;
    width: 100%;
    height:800px;
    background: url(bg.JPG) center center / cover no-repeat;
}
  
/* 본문 영역 */
section.diary_txt {
    position: relative;
    width: 100%;
    padding: 0 3rem;
    margin-top:800px;
    /* 하단 컨텐츠를 상단 height 값 만큼 margin-top 줌 */
    padding-top: 100px;
    background-color: #fff;
    z-index: 10;
    /* 아래에 있는 컨텐츠가 상단 컨텐츠 위로 덮여야 하기 때문에 z-index:10 정도로 줌 */
}

.banner,
.diary_btn,
.diary {
    position: relative;
    width: 100%;
    background-color: #fff;
    z-index: 10;
    padding: 0 3rem;
    margin: 0;
}
section {margin: 0;}
p {
    color : #111;
    font-size : 15px;
    line-height: 28px;
    margin-bottom : 80px;
}

.fa-solid, .fas {font-size: 3rem;}
.diary_btn {display: flex; align-items: center; justify-content: space-between;}
.diary_btn .heart_btn {}
.diary .heart_icon .fa-solid {font-size: 3rem;}
.diary .heart_count {}

.diary_btn .share_btn {}
.diary_btn .share_icon {}

.diary_btn .comment_btn {}
.diary_btn .comment_icon {}